<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord rich presence Desktop</title>
    <link rel="stylesheet" href="./css/mdui.css">
    <script src="./js/mdui.js"></script>
    <script src="./loading.js"></script>
</head>
<body class="mdui-theme-layout-dark">
<div class="mdui-center mdui-text-center" style="padding: 25px">
    <img src="./assets/discord-white.svg" alt="Discord logo" class="mdui-center" width="100px">
    <br>
    <h1>Discord Custom Rich Presence</h1>
</div>
</body>
</html>